%h1 献立一覧
%div{"data-uk-grid" => true}
  - @meals.each do |m|
    .uk-width-small-1-2.uk-width-medium-1-3.uk-width-large-1-3{:style => "width=400px;"}
      %h2= l(m.served_on, format: :default) + m.meal_type_i18n
      %ul
        - m.dishes.each do |d|
          %li
            = d.name
            = d.calorie
