%h1 今日の献立
- @meals.each do |m|
  = m.meal_type_i18n
  %ul
    - m.dishes.each do |d|
      %li
        = d.name
        = d.calorie
%ul.uk-pagination
  - @forecast.each do |date|
    %li= link_to(l(date, format: "%a"), meal_path(date.strftime("%Y%m%d")))
